<template  name="header">

<!-- ==========================
    HEADER - START
  =========================== -->
  <div class="top-header hidden-xs hidden-sm">
    <div class="container">
        <div class="pull-left">
            <div class="header-item"><i class="fa fa-envelope"></i> info@ukoutdoorfitness.com</div>
              <div class="header-item"><i class="fa fa-phone"></i> 07964 787 981</div>
          </div>
          <div class="pull-right">
            <div class="header-item">{{> loginButtons}}</div>
            <ul class="brands brands-inline brands-tn brands-circle main">
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              </ul>
          </div>
      </div>
  </div>

<header class="navbar yamm navbar-default navbar-static-top">
    <div class="container">
          <div class="navbar-header">
              <a href="{{pathFor 'homeIndex'}}" class="navbar-brand"><img class="max-logo-height" src="image/ukod_logo.png" alt=""></a>
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><i class="fa fa-bars"></i></button>
          </div>
          <div class="navbar-collapse collapse navbar-right">
            <ul class="nav navbar-nav navbar-main-menu">
                  <li class="active">
                      <a href="{{pathFor 'homeIndex'}}" class="dropdown-toggle">Home</a>
                  </li>

                  <li>
                      <a href="{{pathFor 'instructorList'}}">Instructors</a>
                  </li>

                  <li>
                      <a href="{{pathFor 'scheduleList'}}">Schedule</a>
                  </li>

                  <li class="dropdown yamm-fw hidden-xs hidden-sm">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Events <i class="fa fa-chevron-down"></i></a>
                      <ul class="dropdown-menu">
                        <li>
                            <div class="yamm-content">
                                  <div class="row">
                                      <div class="col-sm-6">
                                        <h3>Our Latest Classes</h3>
                                          <div class="row">
                                            <div class="col-sm-6">
                                              <img src="image/ukod_logo.png" class="img-responsive" alt="">
                                              <a href="portfolio-post1.html" class="btn btn-primary">Show All</a>
                                              </div>
                                              <div class="col-sm-6">
                                                <p><b>Lorem ipsum dolor sit</b> amet, consectetur adipiscing elit. Duis nec lorem quis est ultrices volutpat. Donec id urna posuere nisl tincidunt laoreet. Aliquam erat volutpat. Duis eu sapien auctor, bibendum ante ut, volutpat purus. </p>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="col-sm-3">
                                        <h3>Locations</h3>
                                        <ul class="nav vertical-nav">
                                            <li><a href="about.html"><i class="fa fa-angle-double-right"></i>Leeds</a></li>
                                              <li><a href="pricing1.html"><i class="fa fa-angle-double-right"></i>Harrogate</a></li>
                                              <li><a href="pricing2.html"><i class="fa fa-angle-double-right"></i>Bradford</a></li>
                                              <li><a href="pricingtable.html"><i class="fa fa-angle-double-right"></i>Huddersfield</a></li>
                                          </ul>
                                      </div>
                                      <div class="col-sm-3">
                                          <h3>About Us</h3>
                                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec lorem quis est ultrices volutpat. Donec id urna posuere nisl tincidunt laoreet. Aliquam erat volutpat. Duis eu sapien auctor, bibendum ante ut, volutpat purus.</p>
                                      </div>
                                  </div>
                              </div>
                          </li>
                      </ul>
                  </li>


              </ul>

              <ul class="nav navbar-nav hidden-xs hidden-sm">

                  <li class="dropdown search-form-toggle">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-search"></i></a>
                      <ul class="dropdown-menu navbar-search-form">
                        <li>
                            <form>
                                  <fieldset>
                                      <div class="form-group nospace">
                                          <div class="input-group">
                                              <input type="text" class="form-control" id="search" placeholder="Search" required>
                                              <span class="input-group-btn"><button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button></span>
                                          </div>
                                      </div>
                                  </fieldset>
                              </form>
                          </li>
                      </ul>
                  </li>
              </ul>
          </div>
      </div>
  </header>
  <!-- ==========================
    HEADER - END
  =========================== -->
</template>
