<template name="homeIndex">

   <!-- ==========================
     JUMBOTRON - START
   =========================== -->
   <div class="jumbotron jumbotron6">
       <div id="jumbotron-slider" class="owl-carousel hidden-control owl-theme">

           <div class="item" id="slide-2">
             <div class="container">
                 <div class="row">
                       <div class="col-md-7">
                         <h2>UK Outdoor Fitness</h2>
                          <h3>

                          </h3>
                       </div>
                   </div>
               </div>
           </div>

           <div class="item" id="slide-1">
             <div class="container">
                 <div class="row">
                       <div class="col-md-6">
                         <img src="image/showcase7.png" class="img-responsive hidden-xs hidden-sm" alt="">
                       </div>
                       <div class="col-md-6">
                         <h2>First Session Free</h2>
                           <h3>No Obligation</h3>
                       </div>
                   </div>
               </div>
           </div>

           <div class="item" id="slide-3">
             <div class="container">
                 <div class="row">
                       <div class="col-md-12">
                         <h2>We did our best</h2>
                       </div>
                       <div class="col-md-12">
                           <h3>Now it's up to you</h3>
                       </div>
                       <div class="col-md-12">
                           <a href="" class="btn btn-inverse">Sign Up Now</a>
                           <span>or</span>
                           <a href="" class="btn btn-inverse">Check More</a>
                       </div>
                   </div>
               </div>
           </div>

       </div>
   </div>
   <!-- ==========================
     JUMBOTRON - END
   =========================== -->

   <!-- ==========================
     INTRODUCTION - START
   =========================== -->
   <section class="content" id="section-introduction">
     <div class="container">
           <h2>Uk Outdoor Fitness</h2>
           <p> </p>
       </div>
   </section>
   <!-- ==========================
     INTRODUCTION - END
   =========================== -->


   <!-- ==========================
     ABOUT US - START
   =========================== -->
   <section class="content bg-color-2" id="section-about-us">
     <div class="container">
         <div class="row">
             <div class="col-md-6">
                 <h2>About Us</h2>
                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec lorem quis est ultrices volutpat. Donec id urna posuere nisl tincidunt laoreet. Aliquam erat volutpat. Duis eu sapien auctor, bibendum ante ut, volutpat purus.</p>
                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec lorem quis est ultrices volutpat. Donec id urna posuere nisl tincidunt laoreet. </p>
                 <div class="text-highlight">
                     <i class="fa fa-quote-left"></i>
                       <p>Pellentesque magna turpis, porttitor non leo ac, imperdiet sollicitudin neque. Sed id condimentum quam. Ut dui velit, suscipit et libero vulputate. Duis nec lorem quis est ultrices volutpat.</p>
                       <span>John Doe, CEO</span>
                   </div>
               </div>
               <div class="col-md-6">
                   <div id="about-us-slider" class="owl-carousel owl-theme">
                       <div class="item"><img src="image/showcase1.png" alt="" class="img-responsive"></div>
                       <div class="item"><img src="image/showcase2.png" alt="" class="img-responsive"></div>
                       <div class="item"><img src="image/showcase3.png" alt="" class="img-responsive"></div>
                       <div class="item"><img src="image/showcase4.png" alt="" class="img-responsive"></div>
                       <div class="item"><img src="image/showcase5.png" alt="" class="img-responsive"></div>
                   </div>
               </div>
           </div>
       </div>
   </section>
   <!-- ==========================
     ABOUT US - END
   =========================== -->

   <!-- ==========================
     RECENT BLOG POSTS - START
   =========================== -->
   <section class="content" id="section-blog-posts">
     <div class="container">
         <h2 class="text-center">Recent B</h2>
         <div class="row">
             <div class="col-sm-6">
                 <div class="recent-blog-post">
                       <div class="post-date">5 March 2014</div>
                       <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit </h3>
                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec lorem quis est ultrices volutpat. Donec id urna posuere nisl tincidunt laoreet. Aliquam erat volutpat. Duis eu sapien auctor, bibendum ante ut, volutpat purus.</p>
                       <a href="blog-post2.html">Read More<i class="fa fa-arrow-circle-right"></i></a>
                   </div>
               </div>

               <div class="col-sm-6">
                 <div class="recent-blog-post">
                       <div class="post-date">5 March 2014</div>
                       <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit </h3>
                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec lorem quis est ultrices volutpat. Donec id urna posuere nisl tincidunt laoreet. Aliquam erat volutpat. Duis eu sapien auctor, bibendum ante ut, volutpat purus.</p>
                       <a href="blog-post2.html">Read More<i class="fa fa-arrow-circle-right"></i></a>
                   </div>
               </div>
           </div>

           <div class="text-center"><a href="blog2.html" class="btn btn-inverse btn-lg"><i class="fa fa-arrow-circle-down"></i>See more Posts</a></div>
       </div>
   </section>
   <!-- ==========================
     RECENT BLOG POSTS - END
   =========================== -->







</template>
